<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= planet.name %></title>
  </head>
  <!-- views/planet/show.ejs -->

  <body>
    <a href="/planet/">Back to Planet</a>
    <a href="/planet/<%= planet._id %>/edit">Edit <%= planet.name %></a>
    <h1><%= planet.name %></h1>

    <!-- Conditional rendering based on fruit's readiness -->
    <% if (planet.hasRings) { %>
    <p>This planet has rings!</p>
    <% } else { %>
    <p>This planet doesn't has rings</p>
    <% } %>
    <form action="/planet/<%=planet._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= planet.name %></button>
    </form>
  </body>
</html>
