<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= planet.name %></title>
  </head>
  <body>
    <div class="container">
      <div class="top-links">
        <a href="/planet/">Back to all Planets</a>
        <a href="/planet/<%= planet._id %>/edit">Edit <%= planet.name %></a>
      </div>

      <h1><%= planet.name %></h1>

      <% if (planet.image) { %>
      <img
        class="planet-detail-image"
        src="<%= planet.image %>"
        alt="<%= planet.name %>"
      />
      <% } %>

      <div class="planet-info">
        <p><strong>Description:</strong> <%= planet.description %></p>
        <p>
          <strong>Distance from the Sun:</strong>
          <%= planet.distanceFromSun %> million km
        </p>

        <% if (planet.hasRings) { %>
        <p>This planet has rings!</p>
        <% } else { %>
        <p>This planet doesn't have rings</p>
        <% } %>
      </div>

      <form action="/planet/<%=planet._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= planet.name %></button>
      </form>
    </div>
  </body>
</html>
